@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-5rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	80% {
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}


	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

tr {
	animation: moveInLeft both .2s;
}

@for $i from 1 through 20 {
	$delay: ($i - 1) * 0.05s;

	// extend the delay
	tr:nth-of-type(#{$i}) {
		animation-delay: $delay;	
	}
}